In [1]:
import pandas as pd     #importo librería pandas que vamos a usar para el data frame

In [2]:
df_tags_for_ML=pd.read_csv('Datos_procesados/df_tags_for_ML.csv')

In [4]:
df_tags_for_ML

,Unnamed: 0,item_title,item_id,Strategy,Action,Indie,Casual,Simulation,Free to Play,RPG,...,Feature Film,Hardware,Steam Machine,Philisophical,Mystery Dungeon,Wrestling,360 Video,Faith,Accounting,Bikes
0,88310,Lost Summoner Kitty,761140,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,88311,Ironbound,643980,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,88312,Real Pool 3D - Poolians,670290,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,88313,弹炸人2222,767400,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,88314,Log Challenge,773570,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32129,120440,Colony On Mars,773640,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
32130,120441,LOGistICAL: South Africa,733530,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32131,120442,Russian Roads,610660,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
32132,120443,EXIT 2 - Directions,658870,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32133,120444,Maze Run VR,681550,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0